/******************************** rotate ********************************/

$b: ".rotate";

#{$b}_right {
	-webkit-animation: rotateRight 3s linear infinite;
	-moz-animation: rotateRight 3s linear infinite;
	-ms-animation: rotateRight 3s linear infinite;
	-o-animation: rotateRight 3s linear infinite;
	animation: rotateRight 3s linear infinite;
}

	@-webkit-keyframes rotateRight { 100% { -webkit-transform: rotate(360deg); } }
	@-moz-keyframes rotateRight { 100% { -moz-transform: rotate(360deg); } }
	@-ms-keyframes rotateRight { 100% { -ms-transform: rotate(360deg); } }
	@-o-keyframes rotateRight { 100% { -o-transform: rotate(360deg); } }
	@keyframes rotateRight { 100% { transform: rotate(360deg); } }


#{$b}_left {
	-webkit-animation: rotateLeft 3s linear infinite;
	-moz-animation: rotateLeft 3s linear infinite;
	-ms-animation: rotateLeft 3s linear infinite;
	-o-animation: rotateLeft 3s linear infinite;
	animation: rotateLeft 3s linear infinite;
}

	@-webkit-keyframes rotateLeft { 100% { -webkit-transform: rotate(-360deg); } }
	@-moz-keyframes rotateLeft  { 100% { -moz-transform: rotate(-360deg); } }
	@-ms-keyframes rotateLeft { 100% { -ms-transform: rotate(-360deg); } }
	@-o-keyframes rotateLeft  { 100% { -o-transform: rotate(-360deg); } }
	@keyframes rotateLeft  { 100% { transform: rotate(-360deg); } }


#{$b}_right_3d_z {
	-webkit-animation: rotateRight3dZ 3s linear infinite;
	-moz-animation: rotateRight3dZ 3s linear infinite;
	-ms-animation: rotateRight3dZ 3s linear infinite;
	-o-animation: rotateRight3dZ 3s linear infinite;
	animation: rotateRight3dZ 3s linear infinite;
}

	@-webkit-keyframes rotateRight3dZ { 100% { -webkit-transform: rotateZ(360deg); } }
	@-moz-keyframes rotateRight3dZ { 100% { -moz-transform: rotateZ(360deg); } }
	@-ms-keyframes rotateRight3dZ { 100% { -ms-transform: rotateZ(360deg); } }
	@-o-keyframes rotateRight3dZ { 100% { -o-transform: rotateZ(360deg); } }
	@keyframes rotateRight3dZ { 100% { transform: rotateZ(360deg); } }

#{$b}_right_3d_y {
	-webkit-animation: rotateRight3dY 3s linear infinite;
	-moz-animation: rotateRight3dY 3s linear infinite;
	-ms-animation: rotateRight3dY 3s linear infinite;
	-o-animation: rotateRight3dY 3s linear infinite;
	animation: rotateRight3dY 3s linear infinite;
}

	@-webkit-keyframes rotateRight3dY { 100% { -webkit-transform: rotateY(360deg); } }
	@-moz-keyframes rotateRight3dY { 100% { -moz-transform: rotateY(360deg); } }
	@-ms-keyframes rotateRight3dY { 100% { -ms-transform: rotateY(360deg); } }
	@-o-keyframes rotateRight3dY { 100% { -o-transform: rotateY(360deg); } }
	@keyframes rotateRight3dY { 100% { transform: rotateY(360deg); } }