/******************************** share ********************************/

$b: ".text";

.addthis_button_facebook_share {
	padding: 0 !important;
}

.addthis_button_tweet {
	padding: 0 0 0 10px !important;
}

.addthis_button_google_plusone {
	padding: 0 !important;
}

.addthis_button_linkedin_counter {
	padding: 0 !important;
}

.fb-share-button {
	span {
		vertical-align: top !important;
	}
}